[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-High_Availability;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=drbd

X-SuSE-YaST-Group=High_Availability
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=drbd

Icon=yast-iscsi-client
Exec=/sbin/yast2 drbd 

Name=DRBD
GenericName=Configure the DRBD(Distributed Replicated Block Device) device
X-KDE-SubstituteUID=true
